@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #464646;
}

.lightButtonCommonStyle {
  @apply bg-lightButton-primaryBg text-lightButton-primaryText hover:bg-lightButton-hoverBg hover:text-lightButton-hoverText duration-200 py-[26px] px-[41px];
}

.darkButtonCommonStyle {
  @apply bg-darkButton-primaryBg text-darkButton-primaryText hover:bg-darkButton-hoverBg hover:text-darkButton-hoverText duration-200 py-[26px] px-[41px];
}
